--
-- PostgreSQL database dump
--

\restrict akypnECiOgs9bxgc8eHHhWKhw7Iuhl6rixusF7pChkJgHkB0DJaMsmJ27whIfiW

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: animal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.animal (
    animalid integer NOT NULL,
    name character varying(50) NOT NULL,
    dateofbirth date NOT NULL,
    gender character varying(50) NOT NULL,
    habitatid integer NOT NULL,
    speciesid integer NOT NULL,
    dietplanid integer NOT NULL,
    CONSTRAINT check_dob_past CHECK ((dateofbirth <= CURRENT_DATE))
);


ALTER TABLE public.animal OWNER TO postgres;

--
-- Name: dailyfeeding; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dailyfeeding (
    feedingid integer NOT NULL,
    feedingdate date NOT NULL,
    foodconsumedqty numeric(5,2) NOT NULL,
    animalid integer NOT NULL,
    CONSTRAINT dailyfeeding_foodconsumedqty_check CHECK ((foodconsumedqty >= (0)::numeric))
);


ALTER TABLE public.dailyfeeding OWNER TO postgres;

--
-- Name: dietplan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dietplan (
    dietplanid integer NOT NULL,
    planname character varying(50) NOT NULL,
    dailycost numeric(6,2) NOT NULL,
    CONSTRAINT dietplan_dailycost_check CHECK ((dailycost >= (0)::numeric))
);


ALTER TABLE public.dietplan OWNER TO postgres;

--
-- Name: habitat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.habitat (
    habitatid integer NOT NULL,
    habitatname character varying(50) NOT NULL,
    climatetype character varying(50) NOT NULL,
    maxcapacity integer NOT NULL,
    CONSTRAINT habitat_maxcapacity_check CHECK ((maxcapacity > 0))
);


ALTER TABLE public.habitat OWNER TO postgres;

--
-- Name: healthrecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.healthrecord (
    recordid integer NOT NULL,
    checkupdate date NOT NULL,
    weight numeric(6,2) NOT NULL,
    healthstatus character varying(50) NOT NULL,
    animalid integer NOT NULL,
    CONSTRAINT check_valid_status CHECK (((healthstatus)::text = ANY ((ARRAY['Healthy'::character varying, 'Sick'::character varying, 'Recovering'::character varying, 'Critical'::character varying, 'Deceased'::character varying])::text[]))),
    CONSTRAINT healthrecord_weight_check CHECK ((weight > (0)::numeric))
);


ALTER TABLE public.healthrecord OWNER TO postgres;

--
-- Name: species; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.species (
    speciesid integer NOT NULL,
    commonname character varying(50) NOT NULL,
    scientificname character varying(50) NOT NULL,
    conservationstatus character varying(50) NOT NULL
);


ALTER TABLE public.species OWNER TO postgres;

--
-- Data for Name: animal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.animal (animalid, name, dateofbirth, gender, habitatid, speciesid, dietplanid) FROM stdin;
\.


--
-- Data for Name: dailyfeeding; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dailyfeeding (feedingid, feedingdate, foodconsumedqty, animalid) FROM stdin;
\.


--
-- Data for Name: dietplan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dietplan (dietplanid, planname, dailycost) FROM stdin;
\.


--
-- Data for Name: habitat; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: healthrecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.healthrecord (recordid, checkupdate, weight, healthstatus, animalid) FROM stdin;
\.


--
-- Data for Name: species; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.species (speciesid, commonname, scientificname, conservationstatus) FROM stdin;
\.


--
-- Name: animal animal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT animal_pkey PRIMARY KEY (animalid);


--
-- Name: dailyfeeding dailyfeeding_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dailyfeeding
    ADD CONSTRAINT dailyfeeding_pkey PRIMARY KEY (feedingid);


--
-- Name: dietplan dietplan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dietplan
    ADD CONSTRAINT dietplan_pkey PRIMARY KEY (dietplanid);


--
-- Name: habitat habitat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habitat
    ADD CONSTRAINT habitat_pkey PRIMARY KEY (habitatid);


--
-- Name: healthrecord healthrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.healthrecord
    ADD CONSTRAINT healthrecord_pkey PRIMARY KEY (recordid);


--
-- Name: species species_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.species
    ADD CONSTRAINT species_pkey PRIMARY KEY (speciesid);


--
-- Name: animal animal_dietplanid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT animal_dietplanid_fkey FOREIGN KEY (dietplanid) REFERENCES public.dietplan(dietplanid);


--
-- Name: animal animal_habitatid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT animal_habitatid_fkey FOREIGN KEY (habitatid) REFERENCES public.habitat(habitatid);


--
-- Name: animal animal_speciesid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT animal_speciesid_fkey FOREIGN KEY (speciesid) REFERENCES public.species(speciesid);


--
-- Name: dailyfeeding dailyfeeding_animalid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dailyfeeding
    ADD CONSTRAINT dailyfeeding_animalid_fkey FOREIGN KEY (animalid) REFERENCES public.animal(animalid);


--
-- Name: healthrecord healthrecord_animalid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.healthrecord
    ADD CONSTRAINT healthrecord_animalid_fkey FOREIGN KEY (animalid) REFERENCES public.animal(animalid);


--
-- PostgreSQL database dump complete
--

\unrestrict akypnECiOgs9bxgc8eHHhWKhw7Iuhl6rixusF7pChkJgHkB0DJaMsmJ27whIfiW

